@charset "utf-8";
/*商品详情*/
.me-header-food-info{background:rgba(0,0,0,0);}
.me-header-food-info a{position:relative;display:inline-block;width:2.5rem;height:2.5rem;border-radius:2.5rem;margin:.4rem;background:#828282;opacity:.8;}
.me-header-food-info a .icon{position:absolute; left:.45rem;top:.7rem;font-size: 1.4rem}

.goods-info-img{position:fixed;top:0;z-index:0;width:100%;}
.goods-info-img img{width:100%;}
.goods-info-img-empty{height:20rem;opacity:0;}
.goods-info{position:relative;z-index:1;width:100%;background:whitesmoke}
.goods-info .goods-list{padding:.2rem .7rem;background:#fff}
.goods-info del{color:#aaa;}
.goods-info-name{}
.goods-info-price{}
.goods-info-price span{color:red;font-size:1.8rem;}
.goods-info-price i{font-size:1rem;}
.goods-info-price del i{font-size:.7rem;}
.goods-info-price small{float:right;margin-top:1rem}
.goods-info-txt{margin:.3rem 0 2rem 0;}
.goods-info-txt img{ max-width:100%; height: auto;width: 100%}
/*点击查看大图*/
.weui-skin_android .weui-actionsheet {width:100%;}
.weui-skin_android .weui-actionsheet span{position:absolute;right:0;top:0;}

/***************** 加入购物车立即购买 ****************/
#mai{position:fixed;width:100%;z-index:5;bottom:-0.2rem;}
#mai .row{position:relative; width:100%;  margin:0;background:#fff}
#mai .row .off{position:absolute;width:66.7%;height:100%;right:0;background: rgba(0, 0, 0, 0.6);z-index:10;}
#mai .row .off .icon{position:relative;font-size:3rem;margin-left:42%;line-height:100%;color:#fff;z-index:10}

#mai .row .col-xs-4{padding:0;}

#mai .row .col-xs-4 a .icon{line-height:1.2rem;display:block;}
#mai .row .col-xs-4:nth-of-type(1) a{padding-top:.45rem;background:#fff;border-radius:0;color:#777;display:block;float:left;width:50%;text-align:center;border-right:1px solid #eee;border-top:1px solid #eee;}
#mai .row .col-xs-4:nth-of-type(1) a>div{font-size:.6rem}

#mai .row .col-xs-4 .weui-btn {padding: 0.5rem;border-radius:0;font-size:1rem;line-height: 2rem}

#mai .weui-btn:after{border: 0px}
.me-out-nav .weui-btn:after{border: 0px}
