@charset "utf-8";
/*商品详情*/
.me-header-food-info{background:rgba(0,0,0,0);}
.me-header-food-info a{position:relative;display:inline-block;width:2.5rem;height:2.5rem;border-radius:2.5rem;margin:.4rem;background:#828282;opacity:.8;}
.me-header-food-info a span{position:absolute; left:.6rem;top:.6rem;font-size: 1.4rem}

.goods-info-img{position:fixed;top:0;z-index:0;width:100%;}
.goods-info-img img{ max-width: 100%; height: auto;    display: block; width: 100%} /*不加width100% 无法适应大屏幕手机*/
.goods-info-img-empty{height:20rem;opacity:0;}
.goods-info{position:relative;z-index:1;width:100%;background:whitesmoke}
.goods-info .goods-list{padding:.2rem .7rem;background:#fff}
.goods-info del{color:#aaa;}
.goods-info-name{}
.goods-info-price{}
.goods-info-price span{color:red;font-size:1.8rem;}
.goods-info-price i{font-size:1rem;}
.goods-info-price del i{font-size:.7rem;}
.goods-info-price small{float:right;margin-top:1rem}
.goods-info-txt{margin:.3rem 0 2rem 0;}
.goods-info-txt img{ max-width:100%; height: auto;}
/*点击查看大图*/
.weui-skin_android .weui-actionsheet {width:100%;}
.weui-skin_android .weui-actionsheet span{position:absolute;right:0;top:0;}

/***************** 加入购物车立即购买 ****************/
#mai{position:fixed;width:100%;z-index:5;bottom:0;}
#mai .row{position:relative; width:100%;  margin:0;background:#fff}
#mai .row .off{position:absolute;width:100%;height:100%;right:0;background: rgba(0, 0, 0, 0.6);z-index:10;}
#mai .row .off .icon-xiajia{position:relative;font-size:3rem;margin-left:44%;line-height:90%;color:#fff;z-index:10}
#mai .row .col-xs-4{padding:0;}
#mai .row .col-xs-4:nth-of-type(1) a{background:#eee;border-radius:0;color:#f90;}
#mai .row .col-xs-4:nth-of-type(2){font-size:13px;}
#mai .row .col-xs-4:nth-of-type(2) a{background:#f90}
#mai .row .col-xs-4:nth-of-type(2) tt{color:#f90;font-size:16px;font-weight:600;}
#mai .row .col-xs-4 span{font-weight:600;font-size:18px}
#mai .row .col-xs-4 span tt{color:#f90;line-height:46px;}
#mai .row .col-xs-4 .weui-btn_warn{padding: 0 .5rem;}
#mai .row .weui-btn{border-radius:0;}
#mai .row p{margin-bottom:0;}
#mai .weui-btn{font-size:1rem;}
