@charset "utf-8";
/***************** 轮播 ****************/
.swiper-pagination-bullet-active{background:#f90}
.swiper-container .swiper-wrapper{height:13rem;background:#ccc;}
.swiper-container .swiper-wrapper img{width:100%}

/***************** 公告横幅  ****************/
.font-move{position:relative;overflow:hidden;width:100%;border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-bottom:.1rem 0;background:Moccasin;}
.font-move span{display:inline-block;line-height:1rem;font:bold 14px/32px Georgia;color:#f90;white-space:nowrap;}
.font-move span{
    /*transform:translate(100px);*/
    -webkit-animation:animations 7s linear 0s infinite forwards;
    -moz-animation:animations 7s linear 0s infinite forwards;
    animation:animations 7s linear 0s infinite forwards;
}/*
@-webkit-keyframes animations3{
    0%{-webkit-transform:translate(28rem);}
    100%{-webkit-transform:translate(-10rem);}
}
@-moz-keyframes animations3{
   0%{-moz-transform:translate(28rem);}
    100%{-moz-transform:translate(-10rem);}
}
@keyframes animations{
    0%{transform:translate(28rem);}
    100%{transform:translate(-10rem);}
}*/

/***************** 图标导航 九宫格 ****************/
.weui-grids{background:#fff}
.weui-grids .weui-grid{padding:.4rem .2rem}
.weui-grid__icon{width:2.2rem;height:2.2rem;}

.weui-cell{background:#fff;margin-top:.3rem}
.weui-cell p{margin-bottom:0}
/*精品推荐*/
.me-goods-List .jing{width:51% ;margin-bottom: 0 ;padding:.5rem;}
.me-goods-List .jing>span{float: left;color:#f90;}
.me-goods-List .jing>span:nth-of-type(1){margin-top:.3rem}
/*底部*/
.weui-tabbar .fa-home{color:#f90;}
.weui-tabbar a:nth-of-type(1) p{color:#f90;}