html,body{margin:0;padding:0;width:100%;font-size:14px;overflow-x:hidden;background-color:whitesmoke;}body{height:100%;}
@media screen and (min-width:360px){
  html,body{font-size:16px;}
}
@media screen and (min-width:400px){
  html,body{font-size:18px;}
}

/*****************附加样式****************/
.icon {
  line-height: 1rem;
}
.icon-lg{
  font-size: 1.2rem;
}
.icon-sm{
  font-size: 0.8rem;
}
.icon-4rem {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: lighter;
}
.icon-2rem {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: lighter;
  color: #999;;
}


/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓- 全局init -↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
a{color:#444;}
ul{margin:0;padding:0}li{list-style:none;}
hr{margin:0 -1rem;height:1px;background-color:#eee;border:0;}
.me-flex-1{width:8%;}.me-flex-2{width:16.6%;}.me-flex-3{width:25%;}.me-flex-4{width:33.3%;}.me-flex-5{width:41.6%}.me-flex-6{width:50%;}.me-flex-7{width:58%;}.me-flex-8{width:66.6%}.me-flex-9{width:75%;}.me-flex-10{width:83%;}.me-flex-11{width:91.6%}
.me-flex-1,.me-flex-2,.me-flex-3,.me-flex-4,.me-flex-5,.me-flex-6,.me-flex-7,.me-flex-8,.me-flex-9,.me-flex-10,.me-flex-11{float:left;min-height:1px;position:relative;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}
.new-info{position:absolute;/*右上角新消息数量*/
  width:1em;height:1em; right:0; border-radius:50%;
  line-height:1; top:-.5em;right:-.5em; padding:0.2em;
  -webkit-transform:scale(0.5); transform:scale(0.5);
  vertical-align:middle; text-align:center;
  background:red; color:#fff;
  font-size: 1.3rem;
}
.me-img{width:100%;}
.text-hid-3{overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.fade-in {/*图片淡入*/-webkit-animation:fade-in 1s;animation:fade-in 1s;}@-webkit-keyframes fade-in {0% {opacity: 0;}100% {opacity: 1;}}@keyframes fade-in {0% {opacity: 0;}100% {opacity: 1;}}
a::selection{color:#f90;}
.active{color:#f90;}
.me-a:active{background:#fff;}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑- 全局end -↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓- 滑屏init -↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
#gallery{display: none;}
#tabPic{ overflow:hidden; position:relative;margin-top:20%}
#tabPic .imgNum{width:100%;text-align:center;color:#fff;}
#picList{ overflow:hidden;width:0;}
#picList li{float:left; width:20%;}
#picList img{ width:100%; height:auto;}
#galleryImgOut{position:absolute;z-index:5;right:0;color:#fff;margin:1rem;font-size:2rem;}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑- 滑屏end -↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓- 顶部init -↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
.me-header-top{position:fixed;top:0;width:100%;z-index:100;background:#f90;line-height:2.2rem;color:#fff;font-size:1rem;font-weight:600;}
.me-header-top div{width:33%;min-height:30px;box-sizing: border-box;}
.me-header-top div:nth-of-type(1){float:left; padding-left:.4rem; text-align:left;}
.me-header-top div:nth-of-type(2){float:left; text-align:center;}
.me-header-top div:nth-of-type(3){float:right; padding-right:.4rem; text-align:right;}
.me-header-top a{color:#fff;}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑- 顶部end -↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓- 首页home -↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
.circle-head{overflow:hidden;margin-bottom:.4rem;background:#fff;}
.circle-h-mid{line-height:2rem;text-align:center;}
.circle-h-mid span:nth-of-type(3){font-size:.8rem;color:#777;}
/*帖子导航*/
.home-circle-nav{position:relative;overflow:hidden;width:100%;background:#fff;text-align:center;font-weight:600;}
.home-circle-nav .circle-nav{overflow:hidden;margin:0 -.2rem;border-bottom:1px solid #eee;}
.home-circle-nav .circle-nav .me-flex-4>a{display:block;border-right:1px solid #eee;color:#444;}
.home-circle-nav .circle-nav .me-flex-4{padding:.4rem 0;}
.home-circle-nav .circle-nav .me-flex-4.active{border-bottom:2px solid #f90;}
.home-circle-nav .circle-nav .me-flex-4.active>a{color:#f90;}

.home-circle-nav .circle-nav-b{width:100%;padding:.4rem 0;}
.home-circle-nav .circle-nav-b a{float:left;margin:0 0 .4rem .4rem;padding:0 .6rem;background:#eee;border-radius:.1rem;font-size:.9rem;}
.home-circle-nav .circle-nav-b .active{background:#fc0;color:#fff;}
/**-- 帖子内容 --**/
.circle-home-content{position:relative;overflow:hidden;width:96%;padding:.5rem;margin-bottom:.4rem;background:#fff;}
.circle-top,.circle-content,.circle-content-img{position:relative;}
/*头像 名称 日期 板块*/
.circle-home-content .circle-top{overflow:hidden;padding:.2rem 0;font-size:.8rem;color:#777;}
.circle-home-content .circle-top img{width:80%;display:block;border-radius:50%;margin:0 auto;}
.circle-home-content .circle-top .me-flex-9{padding-left:.5rem;}
.circle-home-content .circle-top .circle-name{font-size:1rem;color:#444}
.circle-home-content .circle-top .circle-time{margin-right:.2rem}
.circle-home-content .circle-top .circle-block>tt{padding:0 .2rem;border-radius:.2rem;background:#ff6;color:#f90;}
.circle-content{overflow:hidden;width:100%;min-height:1rem;padding:0.2rem 0 0.6rem 0;}
.circle-content div{width:100%;white-space:normal;word-break: break-all;word-wrap: break-word;color:#444;}
.circle-content .on-all{float:right;}
.circle-content-img{overflow:hidden;width:100%;}
.circle-content-img .me-flex-4 img{width:96%;}
.circle-content textarea{border:0 none;width:98%;outline:0;resize:none;overflow-y:hidden;line-height:1rem}
/*评论*/
.circle-critic{}
.circle-critic .critic-top{width:100%;height:2rem;line-height:2rem;}
.circle-critic .critic-top>.critic-t-r{float:right;padding-right:1rem;color:#777;font-size:1.1rem}
.circle-critic .critic-top>.critic-t-r>a{margin-left:1rem;}
/*回复*/
.critic-replys{position:relative;width:95%;padding:.4rem;margin-top:0.2rem;border-radius:5%;background:whitesmoke;}
.replys-triangle{/*三角形*/position:absolute;width:0;height:0;right:23%;top:-0.5rem;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:16px solid whitesmoke;}
.critic-replys .item{font-size:.8rem;overflow:hidden;}
.critic-replys .item:active{background:#ccd2d1;}
.critic-replys .item>a{color:#2d64b3;}
.critic-replys .item>span{color:#777;white-space: normal;word-break: break-all;word-wrap: break-word;}
.critic-replys .item .del{text-align:right;padding-left:.2rem;float:right;}
.circle-content textarea{border:0 none;width:98%;outline:0;resize:none;overflow-y:hidden;line-height:1rem}
/* 回复 框 */
.critic-reply-frame{position:fixed;width:100%;overflow-y:hidden;bottom:0;background:#eee;border-top:1px solid #ccc;padding:.5rem;}
.critic-reply-frame textarea{width:79%;outline:0;resize:none;border-radius:3%;padding:.4rem;font-size:.9rem;border:0;}
.critic-reply-frame .me-flex-2{position:absolute;top:50%;right:1rem;margin-top:-.9rem;}
.critic-reply-frame .me-flex-2 button{font-size:0.8rem;padding:0 0.9rem;line-height:2.1;}
/*** 发新帖子 ***/
.circle-home-bottom{position:fixed;z-index:10;bottom:0;width:100%;height:1.8rem;padding:0.4rem;border-top:1px solid #ccc;background:#fff;}
.circle-home-bottom .circle_send{display:block;width:70%;height:60%;margin:0 auto;border-radius:1rem;padding:.1rem .6rem;background:#f90;color:#fff;text-align:center;}
.circle-home-bottom .new-reply{position:relative;float:right;margin-right:1.6rem;}
.circle-home-bottom .new-reply .fa{font-size:1.8rem;color:#ccc;vertical-align:-0.2rem;}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑- 首页end -↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-   发帖  -↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/*发帖文本框*/
.poster-text-body{width:100%;height:10rem;}
.poster-text-body textarea{
  display:block;border:0 none;width:96%;height:95%;font-size:1rem;outline:0;
  padding:.5rem;
  overflow:auto;resize:none;cursor:none;
  word-break:break-all;
}
/*发帖类型*/
.poster-body{padding:0 .5rem;background:#fff;overflow:hidden;}

.poster-top{display:inline-block;padding-top:.4rem;width:100%;color:#aaa;line-height:2.2rem;}
.poster-top-left .icon{float:left;font-size:1.6rem;margin-right: 0.5rem}
.poster-top-left i:nth-of-type(1){color:#f90;}
.poster-top-right{float:right;}
.poster-top-sub{padding:.5rem;border-radius:5%;background:#1aad19;color:#fff;}

.poster-bottom{padding-top:.6rem;font-size:.9rem}
.poster-bottom > div{display:none}
.poster-bottom > div:nth-of-type(1){display:block}
.poster-bottom .panel:target{display:block;}
.poster-bottom-type label{line-height:2.2rem;float:left;margin-top:.4rem}
.poster-bottom-type label span{margin-right:.5rem; padding:.4rem; border-radius:5px;color:#f90;border:1px solid #f90;}
.poster-bottom-type label input{display:none;}
.poster-bottom-type label input:checked+span{background:darkorange; color:#fff;}

.poster-bottom-photo{}
.poster-bottom-photo .weui-uploader__file,.poster-bottom-photo .weui-uploader__input-box{width:30%;height:6rem;}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑- 发帖end  -↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-   帖子信息init  -↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
.replys-top{border-top:.4rem solid whitesmoke;margin:0 -.5rem;padding:0 .5rem}
.replys-top .replys-num,.replys-top .sort{line-height:2.8rem;color:#777;}
.replys-top .sort{float:right;}
.critic-replys-info .circle-top{border-bottom:1px solid #eee;}
.critic-replys-info .me-flex-10{padding-left:.4rem}
.critic-replys-info .me-flex-10 .circle-name>a{color:#2d64b3;font-weight:600}
.critic-replys-info .me-flex-10 .floor{float:right;margin-right:.4rem;color:#777;font-size:.7rem;line-height:1.6rem}
.critic-replys-info .me-flex-10 p{margin:.2rem 0;color:#444;}
.critic-replys-info .on-reply{float:right;margin-right:.6rem;font-size:1rem;}
.discuss-bottom{position: fixed;z-index: 10;bottom: 0;width: 100%;padding: .5rem 0;border-top: 1px solid #ccc;background: #fff;text-align:center;color:#777;font-size:1.1rem}
.discuss-bottom .me-flex-4 a{display:block;border-left:1px solid #eee;border-right:1px solid #eee;}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑- 帖子信息end  -↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-   回复我的init  -↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
.reply-me{}
.reply-me .replys-triangle{left:10%;}
.reply-me .reply-me-b{line-height:2rem;}
.reply-me .reply-me-b>span{font-size:0.8rem;color:#777;}
.reply-me .reply-me-b>a{float:right;}
.reply-me .critic-replys .item>div{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#444;font-size:0.9rem;}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑- 回复我的end  -↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/